# Dimensions
common_dimensions = [ "account_id", "region" ]
tag_dimensions    = []

# ECS
ecs_disk_max_iops                     = 32000
ecs_disk_max_size_gb                  = 100
ecs_instance_allowed_types            = ["%.nano", "%.small", "%._large", ".__large"]
ecs_instance_avg_cpu_utilization_high = 35
ecs_instance_avg_cpu_utilization_low  = 20
ecs_running_instance_age_max_days     = 90
ecs_snapshot_age_max_days             = 90

# RDS
rds_db_instance_age_max_days     = 90
rds_db_instance_age_warning_days = 30
rds_db_instance_avg_connections  = 2
